<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div id="app" v-cloak>
        <div class="container">
            <div class="row">
                <button v-on:click="votar" class="btn btn-block btn-primary">
                    Votar
                </button>
                <p>
                    Cantidad de votos <strong>{{votos}}</strong>
                </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" v-model="nombre" class="form-control">
                    <input type="text" v-model="apellidos" class="form-control">
                    <label class="form-control">{{nombreCompleto | filtroParaMayusculas}}</label>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="app.js"></script>
</html>